.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 100%;

    padding-inline: $defaultInlinePadding;

    .switch-login-register {
        text-decoration: none;
        color: white;
        font-size: 0.875rem;
    }
}

.form-box {

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

    h1, p {
        margin: 0;
    }

    p {
        font-size: 0.75rem;
    }

    form {

    }

    &.login-form,
    &.register-form {
        width: 360px;
        gap: 20px;
    }
}