@import "variables";

.button {
    background-color: $secondaryColor;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;

    flex-shrink: 0;

    transition: $defaultTransition;

    cursor: pointer;

    &:hover {
        background-color: $secondaryColorHover;
    }

    &:active {
        background-color: $secondaryColorActive;
    }
}

.filler {
    flex-grow: 1;
}

.form-box {
    border-radius: 10px;
    padding: 20px;
    background-color: $mainColor;

    box-shadow: $defaultShadow;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;

    width: 100%;

    .group-group {
        display: flex;
        gap: 10px;

        width: 100%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 2px;

        width: 100%;
    }
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    flex-wrap: nowrap;
}

label {
    opacity: 0.75;
    font-size: 0.875rem;
}

input,
select,
textarea {
    height: 32px;
    border-radius: 8px;
    outline: none;
    border: none;

    width: 100%;

    padding-inline: 10px;

    background-color: $secondaryColor;
    color: white;

    transition: $defaultTransition;

    &:hover {
        background-color: $secondaryColorHover;
    }

    &:focus {
        background-color: $secondaryColorActive;
    }
}

textarea {
    height: 64px;
    padding: 10px;
    resize: vertical;

    max-height: 128px;
}
