@import "variables.scss";
@import "navigation.scss";
@import "elements.scss";
@import "auth.scss";
@import "footer.scss";


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: darken($color: $secondaryColor, $amount: 6%);

    color: white;

    #router-view {
        flex-grow: 1;
    }
}